/* AZZERAMENTO BODY */

body {
  margin: 0;
  padding: 0;
}

/* HEADER */

/* container head */
.head-blue {
  background-color: #0c325a;
  position: relative;
  height: 85vh;
}
/* foto background */
.background-header {
  width: 70%;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* padding per tutti i prossimi container */
[class^=container-] {
  padding: 0 10vw;
}
/* proprietà float a ogni colonna */
[class^=col-] {
  float: left;
  display: inline-block;
}
/* clearing */
.row:after {
  content: "";
  clear: both;
  display: table;
}

.col-10 {
  width: 10%;
}

.col-35 {
  width: 35%;
}

.col-55 {
  width: 55%;
}

.logo {
  padding: 10px 0;
}
/* float a tutte le UL nella navbar con class apposita*/
.nav-list li {
  list-style: none;
  float: left;
}
/* stile link navbar */
.nav-list li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
}
/* stile button navbar */
.nav-list li button {
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 15px;
  border-radius: 5px;
}

.bg-blue {
  background-color: #0c325a;
  border: solid 1px #ffffff;
  padding: 10px 30px;
}

.bg-green {
  background-color: #7cbb02;
  border-style: none;
  padding: 10px;

}

.col-40 {
  width: 55%;
}

.jumbo-text {
  color: #ffffff;
  font-size: 52px;
  padding-top: 160px;
}

.jumbo-link {
  background-color: #7cbb02;
  padding: 30px 20px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  text-transform: uppercase;
}
/* container grigio */
.head-gray {
  height: 15vh;
  text-align: center;
  background-color: #d3d3d3;
  position: relative;
}

.central-text {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}

.central-text-title {
  margin: 0;
  padding: 0px 0 10px 0;
  font-size: 32px;
}

.central-text-subtitle {
  margin: 0;
  color: #808080;
  font-size: 26px;
}

/* FINE HEAD-INIZIO MAIN */

.col-33 {
  width: calc(100% / 3);
  text-align: center;
}

.col-33 img {
  height: 20vh;
  margin: 0;
  padding-top: 40px;
}

.col-33 h1 {
  font-size: 30px;
  color: #7cbb02;
}

.col-33 hr {
  width: 20%;
}

.col-33 p {
  color: #808080;
}
